---
---
<!DOCTYPE html>
<html>
<head>
  <title>litigation.nyc</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">
      <span style="display:inline;float:left;"><a href="#introduction"><h4>litigation.nyc</h4></a></span>
      <span style="display:inline;float:left;">
        <div class="input-group">
          <input type="text" class="form-control" id="search-criteria" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" id="go" type="button">Go!</button>
          </span>
        </div>
      </span>

      <ul class="nav"> 
        <li class="rule_square"><a href="#civil">Civil</a></li>
        <li class="rule_square"><a href="#maritime">Maritime</a></li>
        <li class="rule_square"><a href="#criminal">Criminal</a></li>
        <li class="rule_square"><a href="#patent">Patent</a></li>
        <li class="rule_square"><a href="#division">Division</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
    </div>
  </div>
</div>

<div id="civil_rules" class="outer_container">
  <a class="anchor_offset" id="civil"></a>
  <h2>Joint Local Civil Rules</h2>
  {% for rule in site.civil_rules %}
    <div class="inner_container">
      <a class="full_title" pointer="{{ rule.abbr }}"><h3>{{ rule.full_title }}</h3></a>
      <div class="federal_rule" id="{{rule.abbr}}">
        {{ rule.output }}
      </div>
    </div>
  {% endfor %}
</div>

<div id="admirality_rules" class="outer_container">
  <a class="anchor_offset" id="maritime"></a>
  <h2>Local Admirality and Maritime Rules</h2>
  {% for rule in site.admirality_rules %}
    <div class="inner_container">
      <a class="full_title" pointer="{{ rule.abbr }}"><h3>{{ rule.full_title }}</h3></a>
      <div class="federal_rule" id="{{rule.abbr}}">
        {{ rule.output }}
      </div>
    </div>
  {% endfor %}
</div>

<div id="criminal_rules" class="outer_container">
  <a class="anchor_offset" id="criminal"></a>
  <h2>Local Criminal Rules</h2>
  {% for rule in site.criminal_rules %}
    <div class="inner_container">
      <a class="full_title" pointer="{{ rule.abbr }}"><h3>{{ rule.full_title }}</h3></a>
      <div class="federal_rule" id="{{rule.abbr}}">
        {{ rule.output }}
      </div>
    </div>
  {% endfor %}
</div>

<div id="patent_rules" class="outer_container">
  <a class="anchor_offset" id="patent"></a>
  <h2>Local Patent Rules</h2>
  {% for rule in site.patent_rules %}
    <div class="inner_container">
      <a class="full_title" pointer="{{ rule.abbr }}"><h3>{{ rule.full_title }}</h3></a>
      <div class="federal_rule" id="{{rule.abbr}}">
        {{ rule.output }}
      </div>
    </div>
  {% endfor %}
</div>

<div id="division_of_business_rules" class="outer_container">
  <a class="anchor_offset" id="division"></a>
  <h2>Rules For The Division Of Business Among District Judges</h2>
  {% for rule in site.division_of_business_rules %}
    <div class="inner_container">
      <a class="full_title" pointer="{{ rule.abbr }}"><h3>{{ rule.full_title }}</h3></a>
      <div class="federal_rule" id="{{rule.abbr}}">
        {{ rule.output }}
      </div>
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script id="_fed_an_js_tag" type="text/javascript" src="{{site.baseurl}}/assets/js/federated-analytics.all.min.js?agency=GSA&sub-agency=OGP"></script>
</body>
</html>